<nav class="navbar navbar-dark navbar-expand-lg bg-primary font-bold">
    <a href="/" class="navbar-brand pt-0">
        BlogPress
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
    </ul>
</nav>